$rem: 16px
$space: (tiny: $rem/4, small: $rem/2, regular: $rem, big: $rem*2, large: $rem*4)
$font-stops: 13px, $rem - ($rem * .125), $rem, $rem + ($rem * .25), 26px
$font-sizes: (tiny: nth($font-stops, 1), small: nth($font-stops, 2), regular: nth($font-stops, 3), big: nth($font-stops, 4), large: nth($font-stops, 5))
$font-family: (sans: Lato, sans-alt: "Open Sans", mono: source-code-pro Menlo monospace)
$font-weight: (light: 100, normal: 300, bold: 700, black: 900)
$color: (white: #fff, black: #2a2a2a, gray: #767676)
$weights: (regular: 400, bold: 700, black: 900)
