:root {
  --font-base: 1rem;
  --unit: 2px;
  --font-heading-base: calc(var(--font-base) * 2 - var(--unit));
  --font-heading-regular: calc(
    var(--font-heading-base) - var(--font-base) * 0.25
  );
  --font-heading-medium: calc(
    var(--font-heading-base) - var(--font-base) * 0.75
  );
  --font-regular: calc(var(--font-base) - var(--font-base) * 0.125);
  --font-medium: calc(var(--font-base) - var(--unit) - var(--unit));
  --font-small: calc(
    var(--font-base) - var(--unit) - var(--unit) - var(--unit)
  );
  --font-header-icon: 22px;
  --space-small: 0.25rem;
  --space-medium: 0.5rem;
  --space-regular: 1rem;
  --space-big: 2rem;
  --space-large: 3rem;
  --space-huge: 4rem;
  --color-background: #f5f4f5;
  --color-primary: #2a2a2a;
  --color-primary-light: #767676;
  --font-family-headings: "Libre Baskerville", Palatino, Times;
  --font-family-normal: Lato, Helvetica;
  --screen-medium: 1024px;
}

.App {
  text-align: center;
  padding: 0 8px;
}

@media screen and (min-width: 480px) {
  .App {
    padding: var(--space-big) var(--space-huge);
  }
}

