:root {
  --font-small: 0.6rem;
  --font-medium: 0.8rem;
  --font-regular: 1rem;
  --space-small: 0.2rem;
  --space-medium: 0.4rem;
  --color-subtitle: gray;
  --font-headings: serif;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin: var(--space-medium) 0;
}

.App {
  text-align: center;
}

.App ul {
  list-style: none;
}

.main-heading {
  text-decoration: underline;
}

.horizontal-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}
