.designer-portrait {
  width: 100%;
  border-radius: var(--space-small);
  margin-bottom: var(--space-medium);
}

.designer-name {
  text-align: left;
  font-weight: 300;
  font-family: var(--font-family-headings);
  font-size: var(--font-heading-regular);
}

.designer-title {
  text-align: left;
  font-weight: 300;
  font-size: var(--font-heading-medium);
  font-family: var(--font-family-normal);
}

.designer-bio {
  text-align: left;
  font-size: var(--font-regular);
  margin-bottom: 24px;
  letter-spacing: 0.1px;
}

.designer-link {
  font-size: var(--font-heading-medium);
}

.designer-link-separator {
  margin: 0 var(--space-small);
}

.designer-info {
  text-align: left;
}

.designer {
  padding: var(--space-small);
}

@media screen and (min-width: 480px) {
  .designer {
    max-width: 260px;
  }
}
