.designer-portrait {
  width: 100%;
  border-radius: var(--space-small);
  margin-bottom: var(--space-medium);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: grayscale(1);
}

.designer-name {
  text-align: left;
  font-weight: 700;
  font-family: var(--font-family-headings);
  font-size: var(--font-heading-regular);
}

.designer-title {
  text-align: left;
  font-weight: 100;
  font-size: var(--font-heading-medium);
  font-family: var(--font-family-normal);
}

.designer-bio {
  text-align: left;
  font-size: var(--font-regular);
  margin-bottom: 24px;
  letter-spacing: 0.1px;
  line-height: 1.64;
}

.designer-link {
  font-size: var(--font-regular);
}

.designer-info {
  text-align: left;
}

.designer {
  padding: var(--space-small);
}

@media screen and (min-width: 480px) {
  .designer {
    max-width: 260px;
  }
}
