@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:400")
@import "style/variables"
@import "style/mixins/space"
@import "style/mixins/typography"

@include margins($space)
@include paddings($space)
@include headings($font-stops)
@include font-size-placeholders($font-sizes)
@include font-family-placeholders($font-families)
@include font-weight-placeholders($font-weights)
@include margin-placeholders($space)
@include padding-placeholders($space)

html
  @extend %font-regular
  @extend %padding-regular
  background-color: map-get($color, white)
  text-align: left

html,
body
  @extend %font-sans
  @extend %font-small
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  padding: 0
  background-color: var(--color-background)

code
  @extend %font-mono

ul
  @extend %padding-left-regular
  list-style: none outside none

p,
li
  text-align: left
  @extend %margin-vertical-tiny

h1,
h2,
h3,
h4
  @extend %margin-vertical-regular

h1,
h2,
h3,
h4
  @extend %font-normal
  @extend %font-sans-alt

a,
a:visited
  text-decoration: none
  color: var(--color-primary)

.copy
  @extend %font-big
  @extend %font-sans-alt
  line-height: 30px

.float-right
  float: right

.float-left
  float: left

.translate-y-50
  -webkit-transform: translateY(50%)
  -moz-transform: translateY(50%)
  -ms-transform: translateY(50%)
  -o-transform: translateY(50%)
  transform: translateY(50%)

.position-relative
  position: relative

.justify-flex-end
  justify-content: flex-end

.justify-space-between
  justify-content: space-between

.align-items-center
  align-items: center

.underlined-text
  text-decoration: underline

.horizontal-list
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  padding: 0

.display-flex
  display: flex

.display-flex.column
  flex-direction: column

.clearfix
  overflow: auto
  content: ""
  clear: both
