.tag input {
  visibility: hidden;
  position: absolute;
}

.tag-content {
  padding: var(--space-small);
}

.tag-content:hover {
  cursor: pointer;
}

.tag {
  display: flex;
  position: relative;
  font-size: var(--font-regular);
  margin: 0 var(--space-small);
}

.tag--selected {
  text-decoration: line-through;
}
